/* src/styles.scss */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}

.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right: none !important;
}